:root {}

html,
body {
	height: 100%;
	background-color: #222;
}

body {
	font-weight: 600;
	font-family: "Source Sans Pro";
	font-size: 1.8rem;
	line-height: 1.2;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;
}

.container {
	width: 1200px;
	margin: 0 auto;
}

header {
	background: -webkit-linear-gradient(90deg, #09022e, #ff1154);
	background: linear-gradient(90deg, #09022e, #ff1154);
	border-bottom: 6px solid #ff1154;
	border-radius: 0 0 40% 40%;
	height: 198px;
	box-shadow: 0px 0px 15px 5px #09022e;
	z-index: 2;
	transition: 1s;
	transform: translateY(-20px);
	text-align: center;
}

header:hover {
	transform: translateY(0px);
	box-shadow: 0px 0px 5px 5px #ff1154;
}

.header__inner {
	position: relative;
	display: inline-block;
	margin-top: 20px;
	height: 100%;
	border-radius: 0 0 40% 40%;
	text-align: center;
}

.header__title {
	display: inline-block;
	font-size: 3.3rem;
	color: #fff;
	border-right: 5px solid #0B1B48;
	border-left: 5px solid #0B1B48;
	border-bottom: 5px solid #0B1B48;
	padding: 12px;
	box-shadow: 0px 0px 15px 2px #ff1154;
	text-transform: uppercase;
	border-radius: 0 0 40% 40%;
	transition: 0.5s;
	margin: -14px;
	animation: header-title 2s infinite linear alternate;
}

/* @keyframes header-title {
  0% {
    color: #fff;
    box-shadow: 0px 0px 30px 10px #ff1154;
  }

  100% {
    color: #ff1154;
  }
} */

.header__title:hover {
	transform: scale(0.95);
	background-color: #ff1154;
}

.header__list {
	position: absolute;
	left: -55%;
	bottom: -293%;
	display: inline-block;
	margin-top: 30px;
	border: 3px solid #0B1B48;
	padding: 15px;
	width: 700px;
	border-radius: 40%;
	box-shadow: inset 0px 0px 15px 2px #ff1154;
	transform: translateY(-55px);
}

audio {
	position: absolute;
	left: 5px;
	bottom: 10px;
	border-radius: 100px;
	border: 5px solid #ff1154;
	animation: audio 1.23s infinite linear;
	opacity: 0;
	transition: 0.5s;
}

audio:hover {
	opacity: 1;
}

/* @keyframes audio {
  0% {
    box-shadow: 0px 0px 10px 10px #ff1154;
  }
  1% {
    border: 0;
  }
} */

.header__item {
	display: inline-block;
	padding: 10px;
	color: #fff;
	box-shadow: 0px 20px 10px #ff1154;
	border-right: 2px solid #ff1154;
	border-left: 2px solid #ff1154;
	animation: header-item 2s infinite linear alternate;
	border-radius: 50%;
	transition: 0.7s;
}

/* @keyframes header-item {
  0% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(10px);
    box-shadow: 0px 1px 1px #ff1154;
  }
} */

.header__item+.header__item {
	margin-left: 60px;
}

main {
	flex: 1 1 auto;
	background-color: #222;
	border-radius: 15%;
	border: 12px double #ff1154;
	box-shadow: 0px 0px 15px 5px #ff1154;
	animation: main-border 2s infinite linear alternate;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	line-height: 1.3;
}

.main__inner {
	padding: 20px;
}

/* @keyframes main-border {
  0% {
    box-shadow: 0px 0px 2px 5px #ff1154;
  }

  100% {
    box-shadow: 0px 0px 30px 5px #ff1154;
  }
} */

footer {
	background: -webkit-linear-gradient(90deg, #09022e, #ff1154);
	background: linear-gradient(90deg, #09022e, #ff1154);
	height: 100px;
	border-radius: 40% 40% 0 0;
	border-top: 6px solid #ff1154;
	box-shadow: 0px 0px 15px 5px #09022e;
	text-align: center;
	font-size: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
}

.footer__inner {
	display: inline-block;
	transition: 0.8s;
}

.footer__inner:hover {
	background-color: #EE4D68;
	border-radius: 30%;
}

.footer__info {
	border-top: 2px solid #ff1154;
	border-bottom: 2px solid #ff1154;
	padding: 10px;
	border-radius: 30%;
}

.footer__settings {
	background-color: #000;
	width: 100px;
	height: 30px;
	position: absolute;
	right: 5px;
	bottom: 7px;
	border-radius: 100px;
	background-color: #09022e;
	border: 2px dashed #ff1154;
	opacity: 0;
	transition: 0.7s;
}

.icon-1 {
	color: #fff;
	display: inline-block;
	margin-right: 10px;
	border: 2px solid #ff1154;
	border-radius: 50%;
	padding: 2px;
	cursor: pointer;
}

.icon-2 {
	color: #fff;
	display: inline-block;
	border: 2px solid #ff1154;
	border-radius: 50%;
	padding: 2px;
	cursor: pointer;
}

.footer__settings:hover {
	opacity: 1;
}

.f-1 {
	animation: f-1 3s infinite linear;
}

/* @keyframes f-1 {
  0% {
    color: #EE4D68;
  }
  100% {
    color: #fff;
  }
} */

.f-2 {
	animation: f-2 3s infinite linear;
}

/* @keyframes f-2 {
  0% {
    color: #EE4D68;
  }
  100% {
    color: #fff;
  }
} */

.f-3 {
	animation: f-3 3s infinite linear;
}

/* @keyframes f-3 {
  0% {
    color: #EE4D68;
  }
  100% {
    color: #fff;
  }
} */

.f-55 {
	display: inline-block;
	transition: 0.6s;
}

.f-55:hover {
	transform: rotate(720deg);
}

/* @keyframes loader {
  0% {
    transform: rotate(-45deg)
  }

  50% {
    transform: rotate(-135deg)
  }

  100% {
    transform: rotate(-225deg)
  }
} */

/* @keyframes span-1 {
  0% {
    transform: translate(0);
  }

  50% {
    transform: translate(-50px, 0);
    border-color: #875678;
  }

  100% {
    transform: translate(0);
  }
}

@keyframes span-2 {
  0% {
    transform: translate(0);
  }

  50% {
    transform: translate(50px, 0);
    border-color: #875678
  }

  100% {
    transform: translate(0);
  }
}

@keyframes span-3 {
  0% {
    transform: translate(0);
  }

  50% {
    transform: translate(0, -50px);
    border-color: #EE4D68;
    box-shadow: 0px 0px 15px 2px #ff1154;
  }

  100% {
    transform: translate(0);
  }
}

@keyframes span-4 {
  0% {
    transform: translate(0);
  }

  50% {
    transform: translate(0, 50px);
    border-color: #EE4D68
  }

  100% {
    transform: translate(0);
  }
} */

.loader {
	display: block;
	width: 50px;
	height: 50px;
	animation: loader 2s infinite ease-in-out;
	opacity: 0;
}

.loader span {

	transform: scale(2) !important;
	width: 50px;
	height: 50px;
	position: absolute;
	left: 0;
	top: 0;
	border: 4px solid #0B1B48;
	transform: translateY(100px);
	opacity: 0;
}

.loader span:nth-child(1) {
	animation: span-1 2s ease-in-out infinite;
}

.loader span:nth-child(2) {
	animation: span-2 2s ease-in-out infinite;
}

.loader span:nth-child(3) {
	animation: span-3 2s ease-in-out infinite;
}

.loader span:nth-child(4) {
	animation: span-4 2s ease-in-out infinite;
}

/* @-webkit-keyframes outerRotate1 {
	0% {
		transform: translate(-50%, -50%) rotate(0);
	}

	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

@-moz-keyframes outerRotate1 {
	0% {
		transform: translate(-50%, -50%) rotate(0);
	}

	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

@-o-keyframes outerRotate1 {
	0% {
		transform: translate(-50%, -50%) rotate(0);
	}

	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

@keyframes outerRotate1 {
	0% {
		transform: translate(-50%, -50%) rotate(0);
	}

	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

@-webkit-keyframes outerRotate2 {
	0% {
		transform: translate(-50%, -50%) rotate(0);
	}

	100% {
		transform: translate(-50%, -50%) rotate(-360deg);
	}
}

@-moz-keyframes outerRotate2 {
	0% {
		transform: translate(-50%, -50%) rotate(0);
	}

	100% {
		transform: translate(-50%, -50%) rotate(-360deg);
	}
}

@-o-keyframes outerRotate2 {
	0% {
		transform: translate(-50%, -50%) rotate(0);
	}

	100% {
		transform: translate(-50%, -50%) rotate(-360deg);
	}
}

@keyframes outerRotate2 {
	0% {
		transform: translate(-50%, -50%) rotate(0);
	}

	100% {
		transform: translate(-50%, -50%) rotate(-360deg);
	}
}

@-webkit-keyframes textColour {
	0% {
		color: #fff;
	}

	100% {
		color: #3BB2D0;
	}
}

@-moz-keyframes textColour {
	0% {
		color: #fff;
	}

	100% {
		color: #3BB2D0;
	}
}

@-o-keyframes textColour {
	0% {
		color: #fff;
	}

	100% {
		color: #222;

	}
}

@keyframes textColour {
	0% {
		color: #fff;
	}

	100% {
		color: #222;
	}
} */

.e-loadholder {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-51%, -50%);
	-moz-transform: translate(-51%, -50%);
	-ms-transform: translate(-51%, -50%);
	-o-transform: translate(-51%, -50%);
	transform: translate(-51%, -50%);
	width: 240px;
	height: 240px;
	border: 5px solid #ff1154;
	border-radius: 120px;
	box-sizing: border-box;
	box-shadow: 0px 0px 30px 1px #ff1154;
}

.e-loadholder:after {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-51%, -50%);
	-moz-transform: translate(-51%, -50%);
	-ms-transform: translate(-51%, -50%);
	-o-transform: translate(-51%, -50%);
	transform: translate(-51%, -50%);
	content: " ";
	display: block;
	background: #222;
	transform-origin: center;
	z-index: 0;

}

.e-loadholder:after {
	width: 100px;
	height: 200%;
	-webkit-animation: outerRotate2 30s infinite linear;
	-moz-animation: outerRotate2 30s infinite linear;
	-o-animation: outerRotate2 30s infinite linear;
	animation: outerRotate2 30s infinite linear;
}

.e-loadholder .m-loader {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-51%, -50%);
	-moz-transform: translate(-51%, -50%);
	-ms-transform: translate(-51%, -50%);
	-o-transform: translate(-51%, -50%);
	transform: translate(-51%, -50%);
	width: 200px;
	height: 200px;
	color: #888;
	text-align: center;
	border: 5px solid #875678;
	border-radius: 100px;
	box-sizing: border-box;
	z-index: 20;
	text-transform: uppercase;

}

.e-loadholder .m-loader:after {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-51%, -50%);
	-moz-transform: translate(-51%, -50%);
	-ms-transform: translate(-51%, -50%);
	-o-transform: translate(-51%, -50%);
	transform: translate(-51%, -50%);
	content: " ";
	display: block;
	background: #222;
	transform-origin: center;
	z-index: -1;
}

.e-loadholder .m-loader:after {
	width: 100px;
	height: 106%;
	-webkit-animation: outerRotate1 15s infinite linear;
	-moz-animation: outerRotate1 15s infinite linear;
	-o-animation: outerRotate1 15s infinite linear;
	animation: outerRotate1 15s infinite linear;
}

.e-loadholder .m-loader .e-text {
	font-size: 14px;
	font-size: 1.4rem;
	line-height: 130px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-51%, -50%);
	-moz-transform: translate(-51%, -50%);
	-ms-transform: translate(-51%, -50%);
	-o-transform: translate(-51%, -50%);
	transform: translate(-51%, -50%);
	-webkit-animation: textColour 1s alternate linear infinite;
	-moz-animation: textColour 1s alternate linear infinite;
	-o-animation: textColour 1s alternate linear infinite;
	animation: textColour 1s alternate linear infinite;
	display: block;
	width: 140px;
	height: 140px;
	text-align: center;
	border: 5px solid #EE4D68;
	border-radius: 70px;
	box-sizing: border-box;
	z-index: 20;

}

.e-loadholder .m-loader .e-text:before,
.e-loadholder .m-loader .e-text:after {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-51%, -50%);
	-moz-transform: translate(-51%, -50%);
	-ms-transform: translate(-51%, -50%);
	-o-transform: translate(-51%, -50%);
	transform: translate(-51%, -50%);
	content: " ";
	display: block;
	background: #222;
	transform-origin: center;
	z-index: -1;

}

.e-loadholder .m-loader .e-text:before {
	width: 110%;
	height: 40px;
	-webkit-animation: outerRotate2 3.5s infinite linear;
	-moz-animation: outerRotate2 3.5s infinite linear;
	-o-animation: outerRotate2 3.5s infinite linear;
	animation: outerRotate2 3.5s infinite linear;

}

.e-loadholder .m-loader .e-text:after {
	width: 40px;
	height: 110%;
	-webkit-animation: outerRotate1 8s infinite linear;
	-moz-animation: outerRotate1 8s infinite linear;
	-o-animation: outerRotate1 8s infinite linear;
	animation: outerRotate1 8s infinite linear;


}

#particleCanvas-White {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-51%, -50%);
	-moz-transform: translate(-51%, -50%);
	-ms-transform: translate(-51%, -50%);
	-o-transform: translate(-51%, -50%);
	transform: translate(-51%, -50%);
	width: 100%;
	height: 50%;
	opacity: 0.1;

}

#particleCanvas-Blue {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-51%, -50%);
	-moz-transform: translate(-51%, -50%);
	-ms-transform: translate(-51%, -50%);
	-o-transform: translate(-51%, -50%);
	transform: translate(-51%, -50%);
	width: 300px;
	height: 300px;
}


.preloader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 999999;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #222;
	transition: all 0.5s;
	opacity: 1;
}

.preloader-remove {
	opacity: 0;
	z-index: -10;
}