@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    Sports equipment and equipment (sports goods) are special products that are designed for physical education and sports and are manufactured in accordance with GOSTs, specifications, rules and regulations. The main groups of sports goods are clothing, footwear, sports equipment, inventory and equipment for equipping sports facilities and servicing competitions.
    <div style="text-align: center; margin-top: 20px; margin-bottom: 10px;"><img src="https://www.etr.fr/apps_images/70624-sparc-1.jpg" alt="Future sport" width="800px" height="600px" style="border-radius: 100px" /></div>
</div>

